body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 10%;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
  margin-top: 20%;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(rgb(150, 102, 14), orange);
  padding: 10px 40px;
  border-radius: 6px;
  color: rgb(10, 1, 1);
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.drim-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
